#treatments .section-header {
    grid-column: span 2;
}

#treatments .treatments-btns {
    gap: .5rem;
}

@media (max-width: 50rem) {
    #hero .hero-image {
        aspect-ratio: 16/9;
    }
    #treatments .section-header {
        grid-column: span 1;
    }
}

#team img {
    aspect-ratio: 3/3;
}

#team .member-tag {
    text-transform: uppercase;
    background-color: #84FF98;
    color: #004C03;
    border-radius: 1em;
    padding: .15em .5em;
    margin-top: .75em;
    font-size: .8em;
}
