*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img,
video {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;

    aspect-ratio: 1/1;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --bg-primary: #112849;
    --bg-secondary: #060d1a;
    --bg-contrast: #0b1a32;
    --bg-accent: #b88a20;
    --bg-black: #000000;

    --color-primary: #FFFFFF;
    --color-secondary: #FFFFFF;
    --color-contrast: #FFFFFF;
    --color-accent: #FFFFFF;
    --color-black: #ffffff;

    font-family: 'Montserrat';
}

.text-center {
    text-align: center;
}

.max-w-32 {
    max-width: 32ch;
}

.max-w-64 {
    max-width: 64ch;
}

.margin-x-auto {
    margin-inline: auto;
}

.gap-2 {
    gap: 1rem;
}

.gap-4 {
    gap: 2rem;
}

.gap-8 {
    gap: 4rem;
}

.font-bold {
    font-weight: 900;
}

.font-light {
    font-weight: 200;
}

.font-accent {
    color: var(--bg-accent);
}

.fs-700 {
    font-size: clamp(2.25rem, 1.7218rem + 2.2535vi, 3.75rem);
}

.fs-600 {
    font-size: clamp(2rem, 1.8239rem + 0.7512vi, 2.5rem);
}

.fs-500 {
    font-size: clamp(1rem, 0.912rem + 0.3756vi, 1.25rem);
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 50rem) {
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.container {
    width: min(100% - 3rem, 1366px);
    margin-inline: auto;
}


.bg-primary {
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
}

.bg-contrast {
    background-color: var(--bg-contrast);
    color: var(--color-contrast);
}

.bg-dark {
    background-color: var(--bg-black);
    color: var(--color-black);
}


.btn {
    border-radius: .25rem;
    transition: box-shadow 0.2s ease-in-out;

    padding-inline: 1.5em;
    padding-bottom: .75em;
    padding-top: .75em;

    width: max-content;
    font-weight: 700;
}

.btn-featured {
    background-color: var(--bg-accent);
    color: var(--color-accent);
}

.btn-light {
    background-color: var(--bg-primary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn-featured:hover {
    box-shadow: 4px 4px 0 0 #000000;
    transform: translate(-400, -4px);
}

.btn-light:hover {
    box-shadow: 4px 4px 0 0 #d0d0d0;
    transform: translate(-400, -4px);
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
    padding: 1rem;
    border-radius: 2px;
    gap: 1rem;
}

.card img {
    aspect-ratio: 16/9;
}

.card-btn {
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.card-btn:hover {
    box-shadow: 4px 4px 0 0 #d0d0d0;
    transform: translate(-400, -4px);
}

footer {
    padding: 2rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:14px;
    margin-left: 2px;
}