---
import "../styles/layouts/treatments.css";

import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import exteriorImg from "../assets/images/hero.png";

const { title, headerTitle, headerDescription } = Astro.props;
---

<BaseLayout title={title}>
	<div id="treatment-layout">
		<div
			class="header"
			style={`background-image: url(${exteriorImg.src}); background-attachment: fixed; background-size: cover;`}
		>
		</div>

		<div class="bg-contrast header-text">
			<div class="container">
				<div class="title-subtitle">
					<h1 class="fs-700">{headerTitle}</h1>
					<p>{headerDescription}</p>
				</div>
			</div>
		</div>

			<slot />
	</div>
</BaseLayout>
